body {
    margin: 0;
}

@font-face {
  font-family: "omOpenSansLight";
  src: url("fonts/OpenSans-Light-webfont.eot");
  src: url("fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"),
       url("fonts/OpenSans-Light-webfont.woff") format("woff"),
       url("fonts/OpenSans-Light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "omOpenSansLight";
  src: url("fonts/OpenSans-Regular-webfont.eot");
  src: url("fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("fonts/OpenSans-Regular-webfont.woff") format("woff"),
       url("fonts/OpenSans-Regular-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* @Reset defaults *********/
header, hgroup, nav, section, article, aside, footer { display: block; }
html, body, form, fieldset, legend, h1, h2, h3, h4, h5, h6, dd { margin: 0; padding: 0; }
p, pre, blockquote, ul, ol, dl, table, figure { margin: 0 0 1.5em; padding: 0; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset { border: 0; }
legend { color: inherit; } /* For IE */
form ul, form ol { list-style: none; }
a img { border: 0; }
input, select, textarea { font-family: inherit; font-size: 100%; }
.dtstart, .dtend, .published, .updated { border: 0; }
img, video { max-width: 100%; height: auto; }
iframe { max-width: 100%; }

#page { width: 90%; margin: 0 auto; background: #fff none !important; }

body {
    font: 16px/1.5 Georgia, "Times New Roman", Times, serif;
    color: #000;
    background: #fff;
    word-wrap: break-word;
    -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 .25em;
    color: #41596B;
    line-height: 1;
    font-family: "omOpenSansLight", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    font-weight: normal;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}
h1 { font-size: 3em; letter-spacing: -2px; }
h2 { font-size: 2em; letter-spacing: -1px; }
h3 { font-size: 1.75em; letter-spacing: -0.5px; }
h4 { font-size: 1.5em; letter-spacing: -0.25px; }
h5 { font-size: 1.125em; }
h6 { font-size: 1em; }

a:link, a:visited { color: #20679E; text-decoration: none; }
a:hover, a:focus, a:active { color: #20679E; text-decoration: underline; }

.page {
    margin: 0;
    padding: 0;
    background: #fff url(/static/img/background.png) 0 0 repeat-x;
    border-top: 2px solid #fff;
}

.wrap {
    position: relative;
    width: 896px;
    padding: 0 48px;
    margin: auto;
}

#tabzilla {
    top: 0;
    right: 0;
    position: absolute;
}

#masthead {
    position: relative;
    padding: 72px 0 48px;
    margin: 0;
}

#site-title {
    font-size: 4.5em;
    margin: 0 0 .15em -5px;
    letter-spacing: -3px;
}

#user {
    position: absolute;
    top: 8px;
    right: 180px;
    text-align: right;
}

#user ul { list-style: none; }
#user ul li { display: inline-block; padding-left: 20px; }

/* FORM Styles */
.registration-form { padding-bottom: 20px; }
.registration-form .clear-form { clear: both; }
.registration-form input[type='text'] { width: 300px; margin-bottom: 13px; }
.registration-form select { margin-bottom: 13px; }
.registration-form textarea { height: 200px; width: 80%; float: none; margin-bottom: 13px; }
.registration-form input[type='radio'], .registration-form input[type='checkbox'] { float: none; margin-bottom: 13px; }
.registration-form label { margin-bottom: 3px; float: none; font-weight: bold; display: block; }
.registration-form label.checkbox, .registration-form label.radio { margin-bottom: 3px; float: none; font-weight: bold; display: inline-block; }
.registration-form label span { color: #AAA; margin-left: 4px; font-weight: normal; }

input[type=email], input[type=url], input[type=search], input[type=password], input[type=text], textarea {
  font-size: .857em;
  border: 1px solid #dbdbdb;
  background: transparent;
    background: rgba(0,0,0,0.05);
  box-shadow: inset rgba(0,0,0,0.1) 0 0 4px, rgba(255,255,255, 0.1) 0 1px 0;
  padding: 6px 10px;
  -moz-transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -ms-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}
input[type=email]:hover, input[type=url]:hover, input[type=search]:hover, input[type=password]:hover, input[type=text]:hover, textarea:hover {
  border-color: #bbb;
  background: rgba(0,0,0,0.03);
}
input[type=email]:focus, input[type=url]:focus, input[type=search]:focus, input[type=password]:focus, input[type=text]:focus, textarea:focus {
  border-color: #bbb;
    background: #fafafa;
    outline: 0 none;
    box-shadow: inset rgba(0,0,0,0.3) 0 0 4px, rgba(255,255,255, 0.1) 0 1px 0;
}

input[type=submit], button { 
  border-radius: .25em; 
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2);
  color: #fff;
  cursor: pointer;
  text-align: center;
  padding: 8px 24px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,0.25);
  font: .857em/1.1 "Open Sans Light", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  background-color: #276195;
  background-image: -moz-linear-gradient(#3c88cc,#276195);
  background-image: -ms-linear-gradient(#3c88cc,#276195);
  background-image: -webkit-linear-gradient(#3c88cc,#276195);
  background-image: -o-linear-gradient(#3c88cc,#276195);
  background-image: linear-gradient(#3c88cc,#276195);
  -moz-transition: all linear .25s;
  -webkit-transition: all linear .25s;
  -o-transition: all linear .25s;
  transition: all linear .25s;
}
input[type=submit]:hover, input[type=submit]:focus, button:hover, button:focus { box-shadow:0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 2px #3089d8; }

label { display: block; padding: 0 0 .5em; font: 1em/1.2 "Open Sans Light", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; }
label .note { color: #666; }

input::-webkit-input-placeholder { text-transform: uppercase;  }
input:-moz-placeholder { text-transform: uppercase; }

/* Footer Styles */
#site-info { background: #fff; color: #bbb; font-size: .857em; padding: 48px 0; border-top: 1px solid rgba(0,0,0,.1); overflow: hidden; }
#foot-logo, #colophon, #nav-meta { float: left; width: 252px; margin-right: 24px; }
#site-info a:link, #site-info a:visited { color: #67a7d0; }
#site-info a:hover, #site-info a:focus, #site-info a:active { color: #5c94b8; }
#foot-logo .logo { display: block; float: left; width: 92px; height: 55px; text-indent: -999em; overflow: hidden; border: 0; background: url("/static/img/logo-mozilla-lt.png") 0 0 no-repeat; opacity: .8; 
  -moz-transition: opacity .1s linear;
  -webkit-transition: opacity .1s linear;
  -o-transition: opacity .1s linear;
  transition: opacity .1s linear;
}
#foot-logo .top { position: absolute; left: -999em; }
#foot-logo .logo:hover, #foot-logo .logo:focus, #foot-logo .logo:active { opacity: 1; }


#nav-meta ul { list-style: none; }
#nav-meta a { font-family: "Open Sans Regular", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; }

/* Badges Styles */
#badges {
    font-family: 'Open Sans',sans-serif;
}

.row {
    border-bottom: 1px dotted #D6D6D6;
    padding: 24px 0;
}

.row .description {
    float: left;
    margin-left: 24px;
    width: 344px;
}

.row::after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

.logo-links {
    float: left;
    margin-left: 24px;
    width: 160px;
}

.logo-links ul {
    margin: 12px 0;
    padding: 0;
}

.logo-links ul li {
    font-size: 12px;
    list-style-type: none;
    margin: 0;
    padding-bottom: 2px;
}

.project_image {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    height: 140px;
    width: 140px;
}
