{% extends "inc/layout.html" %}

{% block content %}
<section id="badges">
  {% for b in badges %}
  <article class="row">
    <div class="logo-links">
      <div class="project_image_wrap">
        <img src="{{ b.badge.image }}" alt="{{ b.badge.name }}" class="project_image">
      </div>
      <ul>
        <li><a class="icon icon-link" href="{{ b.badge.criteria }}">Criteria</a></li>
        {% if b.badge.evidence %}
        <li><a class="icon icon-link" href="{{ b.badge.evidence }}">Evidence</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="description">
      <h2><a href="{{ b.badge.criteria }}">{{ b.badge.name }}</a></h2>
      <p>{{ b.badge.description }}</p>
      {% if status == False %}
      <button data-badge="{{ b.id }}" class="accept-badge" onclick="accept_badge({{ b.id }})">Take It</button> &nbsp; <a href="#" class="decline-badge">Leave It</a>
      {% endif %}
    </div>
  </article>
  {% endfor %}
</section>

{% if status == False %}
<script src="http://beta.openbadges.org/issuer.js"></script>
<script type="text/javascript">
function accept_badge(badge_id) {
  OpenBadges.issue(
    ['http://{{ config.PERSONA_AUDIENCE }}/assertions/' + badge_id],
    function(errors, successes) {
      alert(errors);
      alert(successes);
    }
  )
}

function decline_badge() {
  ;
  // send decline request to /profile/badge/badge_id/decline
}
</script>
{% endif %}
{% endblock %}
