{% extends "inc/layout.html" %}

{% macro print_badge(b, status) %}
  <article class="row" data-slug="{{ b.slug }}">
    <div class="logo-links">
      <div class="project_image_wrap">
        <img src="{{ b.badge.image }}" alt="{{ b.badge.name }}" class="project_image">
      </div>
      <ul>
        <li><a class="icon icon-link" href="{{ b.badge.criteria }}">Criteria</a></li>
        {% if b.badge.evidence %}
        <li><a class="icon icon-link" href="{{ b.badge.evidence }}">Evidence</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="description">
      <h2><a href="{{ b.badge.criteria }}">{{ b.badge.name }}</a></h2>
      <p>{{ b.badge.description }}</p>
      {% if status == False %}
      <button class="accept-badge" onclick="accept_badge('{{ b.slug }}')">Take It</button> &nbsp; <a href="#" class="decline-badge" onclick="decline_badge('{{ b.slug }}')">Leave It</a>
      {% endif %}
    </div>
  </article>
{% endmacro %}

{% block content %}
<section id="badges">
  {% for b in badges %}
    {{ print_badge(b, status) }}
  {% endfor %}
</section>

{% if status == False %}
<script src="http://beta.openbadges.org/issuer.js"></script>
<script type="text/javascript">
function accept_badge(slug) {
  OpenBadges.issue(
    ['http://{{ config.PERSONA_AUDIENCE }}/assertion/' + slug],
    function(errors, successes) {
      if (errors) {
        alert('Sorry! Something went wrong while Issuing this badge to you. You can file an issue about this at: https://github.com/vaidikkp/mozdelhi-showoff/issues/new.');
      }
      if (successes) {
        ;
        // ajax request to /profile/earned-badges/<slug>/accept
        $.post(
          '/profile/earned-badges/pending/accept',
          {
            slug: slug,
          },
          function(data) {
            data = JSON.parse(data);
            if (data.status == 'OK') {
              //remove from DOM completely
              $('.row[data-slug="' + slug + '"]').slideUp('slow');
            }
          });
      }
    }
  )
}

function decline_badge(slug) {
  var r = confirm("Are you sure you want to decline the '" + $('article[data-slug="' + slug + '"] h2 a').text() + "' badge?");
  if (r == false) {
    return;
  }
  $.post(
    '/profile/earned-badges/pending/decline',
    {
      slug: slug,
    },
    function(data) {
      data = JSON.parse(data);
      if (data.status == 'OK') {
        //remove from DOM completely
        $('.row[data-slug="' + slug + '"]').slideUp('slow');
      }
    });
}
</script>
{% endif %}
{% endblock %}
