{% macro print_badge(eb=None, status=True, b=None) %}
  {% if b == None %}
    {% set b = eb.badge %}
  {% endif %}
  <article class="row" data-slug="{{ eb.slug }}">
    <div class="logo-links">
      <div class="project_image_wrap">
        <img src="{{ b.image }}" alt="{{ b.name }}" class="project_image">
      </div>
      <ul>
        <li><a class="icon icon-link" href="{{ b.criteria }}">Criteria</a></li>
        {% if b.evidence %}
        <li><a class="icon icon-link" href="{{ eb.evidence }}">Evidence</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="description">
      <h2><a href="{{ b.criteria }}">{{ b.name }}</a></h2>
      <p>{{ b.description }}</p>
      {% if status == False %}
      <button class="accept-badge" onclick="accept_badge('{{ b.slug }}')">Take It</button> &nbsp; <a href="#" class="decline-badge">Leave It</a>
      {% endif %}
    </div>
  </article>
{% endmacro %}

{% macro nav(menu=None) %}
<nav id="nav-main" role="navigation">
    <ul>
        <!--<li><a class="" href="/en-US/">Home</a></li>-->
        {% for item in menu %}
        <li>
            <a {% if request.path.split('/')[1] in item.current_on_paths %}class="current"{% endif %} href="{{ item.path }}">{{ item.name }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
{% endmacro %}

{% macro people_print(people) %}
  <table>
  {% for p in people %}
    {% set row = loop.cycle(1, 2) %}
    {% if row == 1 %}<tr>{% endif %}
    <td>
      <a href="/profile/{{ p.username }}" class="people-btn">
        <img src="{{ p.image }}" alt="{{ p.first_name }} {{ p.last_name }}" class="profile_img">
        <div class="details">
          <div class="name">{{ p.first_name }} {{ p.last_name }}</div>
          <div>Username: {{ p.username }}</div>
          {% if p.github %}<div>Github: {{ p.github }}</div>{% endif %}
          {% if p.irc_nick %}<div>IRC: {{ p.irc_nick }}</div>{% endif %}
        </div>
      </a>
    </td>
    {% if row == 2 %}</tr>{% endif %}
  {% endfor %}
  </table>
{% endmacro %}
