{% macro print_badge(eb=None, status=True, b=None) %}
  {% if b == None %}
    {% set b = eb.badge %}
  {% endif %}
  <article class="row" data-slug="{{ eb.slug }}">
    <div class="logo-links">
      <div class="project_image_wrap">
        <img src="{{ b.image }}" alt="{{ b.name }}" class="project_image">
      </div>
      <ul>
        <li><a class="icon icon-link" href="{{ b.criteria }}">Criteria</a></li>
        {% if b.evidence %}
        <li><a class="icon icon-link" href="{{ eb.evidence }}">Evidence</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="description">
      <h2><a href="{{ b.criteria }}">{{ b.name }}</a></h2>
      <p>{{ b.description }}</p>
      {% if status == False %}
      <button class="accept-badge" onclick="accept_badge('{{ b.slug }}')">Take It</button> &nbsp; <a href="#" class="decline-badge">Leave It</a>
      {% endif %}
    </div>
  </article>
{% endmacro %}
