{% extends "inc/layout.html" %}

{% block content %}
<form action="/register" class="registration-form" method="post">
  <label for="email">Email</label>
  <input type="text" name="email" value="{{ email }}" readonly>
  <p></p>

  <label for="username">Username <span>(required)</span></label>
  <input type="text" name="username">
  <p></p>

  <hr>

  <label for="name">Name <span>(required)</span></label>
  <input type="text" name="name">
  <p></p>
  
  <input type="submit" value="Complete Registration">
</form>
</form>
{% endblock %}
